<table *ngIf="items.length" mat-table [dataSource]="items">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Названия товара </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price_purchase">
        <th mat-header-cell *matHeaderCellDef> Цена / закуп </th>
        <td mat-cell *matCellDef="let element"> {{element.price_purchase}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price_sale">
        <th mat-header-cell *matHeaderCellDef> Цена </th>
        <td mat-cell *matCellDef="let element"> {{element.price_sale}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Действие </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="delete" color="warn" (click)="deleteItem(element.id, element.name)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="edit" color="primary" (click)="editItem(element.id)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="no-data" *ngIf="!items.length">Нет данных</div>
