.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

#container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 500px;
    #left, #right {
        outline: 1px solid red;
    }
}

table {
    width: 100%;
}
