/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
}

.alert {
    font-style: italic;
    font-size: 13px;
    p {
        margin: 5px 0 0;
        padding: 0;
    }
}
.alert-error {
    color: red;
}
.alert-success {
    color: green;
}

.no-data {
    padding: 10px;
    background: #FFF3CD;
    text-align: center;
    margin: 10px;
    color: #93751B;
}
